---
layout: default
---

<div class="home">

  test!

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <img src="{{ post["a-side-img"] }}" alt="">

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <script>

    var players = [];

    {% for post in site.posts %}

      players.push({
        url: "{{ post.url }}",
        img: "{{ post["a-side-img"] }}"
      });

    {% endfor %}

  </script>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
